<form (ngSubmit)="remake(movieRemake)">
  <label for="movieId">ID</label>
  <input pInputText type="number" name="movieID" [(ngModel)]="movieRemake.id" />

  <label for="title">Title</label>
  <input pInputText type="text" name="title" [(ngModel)]="movieRemake.title" />

  <label for="Lead_Actor">Starring</label>
  <input pInputText type="text" name="Lead_Actor" [(ngModel)]="movieRemake.actor" />

  <label for="Genre">Genre</label>
  <input pInputText type="type" name="Genre" [(ngModel)]="movieRemake.genre" />

  <label for="Release_Year">Release Year</label>
  <input pInputText type="number" name="Release_Year" [(ngModel)]="movieRemake.year" />

 
  <input pInputText type="submit" value="Submit"  (click)="remake(movieRemake)"/>
</form>
