<!---
<div>
<app-movies-list></app-movies-list>
</div>


<footer>
<app-post-form></app-post-form>
</footer>

<div>
<app-delete-by-id></app-delete-by-id>
</div>

<nav>
    <a [routerLink]="['/find-all']">View All Movies</a>
</nav>
<section>
    <router-outlet></router-outlet>
</section> 

<app-remake></app-remake> 

<app-find-all></app-find-all>
<app-movies-list></app-movies-list> 

<app-delete-by-id></app-delete-by-id> 


<app-movies-list></app-movies-list> 

-->

<app-movies-list></app-movies-list> 