.remake {
  text-align: center;
  padding-top: 200px;
}


.flex{
  display: flex;
  justify-content: space-between;

}

.link {
  padding-top: 500px;
  text-align: center;
}

.update{
  text-align: left;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border-style:solid;

}
