.byNumber {
 
 text-align: left;
 font-size: 20px;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.allmovies{
text-align: center;

}

.remake {
  
   padding-bottom: 20px;
   text-align: center;
  
}

.delete{
    text-align: right;
}




